body {
  font-family: "Raleway", sans-serif;
  background-image: url(../img/fondo-textura-pared-pintada-blanco.jpg);
}

/* correción navbar */

#Acerca-de-mi h2{
  padding-top: 75px;
}

#Experiencia-laboral h2{
  padding-top: 75px;
}

/* Image Section */

#Image-Section{
  width:cover;
  position: center;
  background-size: cover;
}

/* Hero Section */

#Hero-Section img{
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis trabajos */

#Portafolio h2{
  padding-top: 30px ;
}
#Portafolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#Portafolio .btn-outline-info {
  background-color: #ac9722;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
#Portafolio .btn-outline-info:hover {
  background-color: #223094;
}
/* Contacto */

#Contacto h2 {
  padding-top: 10px;
}
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}